<!--Projects section v.4-->
<section class="text-center pb-3">

  <!--Section heading-->
  <h2 class="font-weight-bold h1 py-5">
    <strong>Bio:</strong>
  </h2>
  <p class="grey-text pb-5 text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
    dolore eu
    fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <!--Grid row-->
  <div class="row">


    <!--Grid column-->
    <div class="col-md-6 mb-4">
      <mdb-card class="animated rotateInUpRight" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg')">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="pink-text">
              <mdb-icon fas icon="chart-pie"></mdb-icon>
              <strong> Marketing</strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>This is card title</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam,
              voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!
            </p>
            <a mdbBtn color="pink" size="md" rounded="true" class="waves-light" mdbWavesEffect>
              <mdb-icon far icon="clone" class="left"></mdb-icon> View project</a>
          </div>
        </div>
      </mdb-card>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--Projects section v.4-->
