<!--About section-->
<section id='about' class="text-center pb-3">

  <!-- About jumbotron -->
  <div class="jumbotron text-center hoverable p-4">

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">
        <!-- Featured image -->
        <span class="view overlay waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </span>
      </div>
        <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <a href="#!" style="color: #6c757d!important;">
        <h6 class="h6 pb-1"><i class="fas fa-project-diagram"></i> {{ title | titlecase}}</h6>
      </a>

      <h4 class="h4 mb-4">{{ header }}</h4>

      <p class="font-weight-normal">{{ description }}</p>
      <p class="font-weight-normal">by <a><strong>Scott Remsen</strong></a></p>


    </div>
    <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <div class="row" style="margin-top: 30px; margin-left:5px;">
      <!--Grid column-->
      <div class="col-md-12 mb-4">


        <ul class="list-unstyled">
          <app-home-tiles [loadAboutPage]="true"></app-home-tiles>
        </ul>
      </div>
      <!--Grid column-->

    </div>
  </div>

</section>

