<!--Projects section v.4-->
<section id='portfolio' class="text-center">

  <!-- News jumbotron -->
  <div class="jumbotron text-center hoverable p-4">

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-6">
        <img src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" class="img-fluid z-depth-4 rounded" alt="First sample image">
    </div>
    <!--Grid column -->

  </div>
  <!--Grid row-->

    <div class="row" style="margin-top: 30px; margin-left:5px;">
      <!--Grid column-->
      <div class="col-md-12 mb-4">


        <ul class="list-unstyled">
          <app-home-tiles></app-home-tiles>
        </ul>
      </div>
      <!--Grid column-->

    </div>
  </div>


<!--
  <textarea id="mytextarea">Hello, World!</textarea>
-->


</section>


